<div id = "discussionView">
    <div>
    <h2>Topic Details</h2>
    <h3>{{foundTopic.topicName}}</h3>
    <p>{{foundTopic.content}}</p>
    <br>
    <p>Added by:<img id = "userAv" src="{{foundTopic.creator.avatar}}" alt="picture"> {{foundTopic.creator.fullName}}</p>
    {{#if userIsOwner}}
    <a href="/forum/edit/{{foundTopic._id}}">Edit Discussion</a>
    <a href="/forum/delete/{{foundTopic._id}}">Delete Discussion</a>
    {{/if}}
    </div>

    <div>
        <h2>Comments</h2>
    <form action="/comments/add-review/{{foundTopic._id}}" method="post">

    <label for="comment">Add Review</label>
    <input type="text" name="comment" id="comment">

    <button type="submit" >Submit</button>

</form>

{{#if foundTopic.reviews}}

    {{#each foundTopic.reviews}}

        <p>{{comment}}</p>
        <h5><img id = "userAv" src="{{user.avatar}}" alt="picture"> {{user.fullName}}</h5>
        <hr>

    {{/each}}

    {{else}}

        <p>No reviews yet</p>

{{/if}}
    </div>

</div>