<div id = "discussionView">
    <div id ="topicView">
    <h2>Topic Details</h2>
    <h3 id ="topicText">{{foundTopic.topicName}}</h3>
    <img id = "topicImg2" src="/images/{{foundTopic.photo}}" alt="topicPhoto">
    <p id ="contentText">{{foundTopic.content}}</p>
    <br>
    <p id = "authorText">Author:<img id = "authorAv" src="/images/{{foundTopic.creator.avatar}}" alt="picture"> <p id = "authorText2">{{foundTopic.creator.fullName}}</p></p>
    <p class = "date">Created {{createdDate}} at {{createdTime}}</p>
    {{#if updateTime}}
    <p class = "date">Updated {{updDate}} at {{updTime}}</p>
    {{/if}}
    {{#if userIsOwner}}
    <div id = "authorOptions">
        <a href="/forum/edit/{{foundTopic._id}}">Edit Discussion</a>
        <a href="/forum/delete/{{foundTopic._id}}">Delete Discussion</a>
    </div>
    {{/if}}
    </div>

    <div id ="commentView">
        <h2>Comments</h2>
    <form action="/comments/add-review/{{foundTopic._id}}" method="post">

    <label for="comment">Add Review</label>
    <input type="text" name="comment" id="comment">

    <button type="submit" >Submit</button>

</form>

{{#if foundTopic.reviews}}

    {{#each reviewOfOwner1}}
        <textarea cols="40" rows="5">{{comment}}</textarea>
        <h5><img id = "userAv" src="/images/{{user.avatar}}" alt="picture"> You</h5>
        <p class = "date">Created {{createdAt}} at {{time}}</p>
        {{#if updateTimeRev}}
        <p class = "date">Updated {{updDateRev}} at {{updTimeRev}}</p>
        {{/if}}
        <hr>
        
        <a href="/comments/edit/{{_id}}">Edit Comment</a>
        <a href="/comments/delete/{{_id}}">Delete Comment</a>
    {{/each}}

    {{#each reviewOfNotOwner}}

        <textarea cols="40" rows="5">{{comment}}</textarea>
        <h5><img id = "userAv" src="/images/{{user.avatar}}" alt="picture"> {{user.fullName}}</h5>
         <p class = "date">Created {{createdAt}} at {{time}}</p>
        {{#if updateTimeRev}}
        <p class = "date">Updated {{ updatedAt}} at {{timeUpdated}}</p>
        {{/if}}
        <hr>

    {{/each}}

    {{else}}

        <p>No reviews yet</p>

{{/if}}
    </div>

</div>